html {
  color: #fff;
  background: #0e83cd;
  font: caption;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

header {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  min-height: 70%;
  background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/header.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

footer {
  margin: 4em auto;
  padding: 2em 0em;
  text-align: center;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.app-header {
  padding: 200px 0px;
  margin: 0px;
  max-width: 100%;
}

.about-container p{
  padding: 5%;
  padding-top: 2em;
}

.btn {
  background: none;
  cursor: pointer;
  padding: 5px 8px;
  display: inline-block;
  margin: 5px 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: inherit;
  outline: none;
  position: relative;
}

.btn:hover, .btn:active {
  color: #0e83cd;
  background: #fff
}

.about-container {
  padding: 2em;
  display: table;
  text-align: center;
}

div .about-container > .circle--img {
  display: table-row;
  max-width: 200px;
  max-height: 200px;
  padding: 2em 4em;
  border-radius: 50%;
  float: left;
}

.download-btn {
  display: table-cell;
  vertical-align: bottom;

}
